<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Mercer.com Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6be76a">  <td>18/12/20 19:32:42</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CompensationLocalizer_smoke.setUp()[pri:0, instance:ui.smoke.testcases.CompensationLocalizer.CompensationLocalizer_smoke@7a30d1e6]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1561408618</td>   <td></td> </tr>
<tr bgcolor="6be76a">  <td>18/12/20 19:33:31</td>   <td>49910</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompensationLocalizer_smoke.GHRM()[pri:1, instance:ui.smoke.testcases.CompensationLocalizer.CompensationLocalizer_smoke@7a30d1e6]">GHRM</td> 
  <td>main@1561408618</td>   <td></td> </tr>
<tr bgcolor="6be76a">  <td>18/12/20 19:37:01</td>   <td>258971</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CompensationLocalizer_smoke.setUp()[pri:0, instance:ui.smoke.testcases.CompensationLocalizer.CompensationLocalizer_smoke@7a30d1e6]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1561408618</td>   <td></td> </tr>
<tr bgcolor="6be76a">  <td>18/12/20 19:37:21</td>   <td>279067</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CompensationLocalizer_smoke.ICS()[pri:2, instance:ui.smoke.testcases.CompensationLocalizer.CompensationLocalizer_smoke@7a30d1e6]">ICS</td> 
  <td>main@1561408618</td>   <td></td> </tr>
<tr bgcolor="6be76a">  <td>18/12/20 19:41:01</td>   <td>499941</td> <td title="&lt;&lt;CompensationLocalizer_smoke.tearDown()[pri:0, instance:ui.smoke.testcases.CompensationLocalizer.CompensationLocalizer_smoke@7a30d1e6]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1561408618</td>   <td></td> </tr>
</table>
